[Unit]
Description=Node Exporter scrapes system metrics

[Service]
ExecStart=/opt/node_exporter/node_exporter/node_exporter --web.config=/opt/prometheus/prometheus/web.yaml

[Install]
WantedBy=multi-user.target
