[Unit]
Description=Node Exporter scrapes system metrics

[Service]
ExecStart=/opt/node_exporter/node_exporter/node_exporter --web.config=/opt/node_exporter/config.yaml

[Install]
WantedBy=multi-user.target
