[Unit]
Description=Node Exporter scrapes system metrics

[Service]
ExecStart=/opt/node_exporter/node_exporter.sh

[Install]
WantedBy=multi-user.target
