[Unit]
Description=Prometheus Server
Documentation=https://prometheus.io/docs/introduction/overview/
After=network-online.target

[Service]
User=mxnovah
Restart=on-failure

ExecStart=/opt/prometheus/prometheus.sh

[Install]
WantedBy=multi-user.target
